<?xml version="1.0" encoding="UTF-8"?>
<context>
   <date>2025-08-04</date>
   <DEVICEName>DEVICE</DEVICEName>
   <originFileName>bphom_spool.txt</originFileName>
   <docId>bphom_spool.txt_BPHOM_STD_3</docId>
   <origin>bphom_spool.txt</origin>
   <INTEST_STAMPAName>INTEST_STAMPA</INTEST_STAMPAName>
   <docIdx>3</docIdx>
   <originExtension>txt</originExtension>
   <_docType>BPHOM_STD</_docType>
   <inputFile>c:\Temp\bphom_spool.txt</inputFile>
   <_docNum>3</_docNum>
   <_time>09-57-06</_time>
   <fr_kw_adapter_document_Datasource_2903c6ffName>DATA</fr_kw_adapter_document_Datasource_2903c6ffName>
   <timestamp>1754294226613</timestamp>
   <originBaseName>bphom_spool</originBaseName>
   <_date>2025-08-04</_date>
   <inputFileName>bphom_spool.txt</inputFileName>
   <docType>BPHOM_STD</docType>
   <DEVICE>
      <DEVICE>
         <MEDIA_GENERIX>PMV0GHH031</MEDIA_GENERIX>
         <SPOOL/>
         <AGENT/>
         <OUTPUT_GNX/>
      </DEVICE>
   </DEVICE>
   <INTEST_STAMPA>
      <INTEST_STAMPA>
         <Stampa_Intestaz__BEE_/>
      </INTEST_STAMPA>
   </INTEST_STAMPA>
   <jobId>c:\Temp\bphom_spool.txt</jobId>
   <environment/>
   <DATA>
      <BPHOM_STD>
         <edteml__B00_>1</edteml__B00_>
         <emlexp__B00_>FGE50MV0GH-SFRIBI04A{generixgroup.com</emlexp__B00_>
         <emladr01__B00_>fmporzio{generixgroup.com</emladr01__B00_>
         <emladr02__B00_/>
         <emladr03__B00_/>
         <emladr04__B00_/>
         <emladr05__B00_/>
         <emladr06__B00_/>
         <emladr07__B00_/>
         <emladr08__B00_/>
         <emladr09__B00_/>
         <emladr10__B00_/>
         <emladr11__B00_/>
         <codact__B01_>001</codact__B01_>
         <ad1act__B01_>.</ad1act__B01_>
         <ad2act__B01_/>
         <cpiact__B01_>27050</cpiact__B01_>
         <cpoact__B01_>27050</cpoact__B01_>
         <cptact__B01_/>
         <ediact__B01_/>
         <faxact__B01_/>
         <libact__B01_>Grove Cameron</libact__B01_>
         <nomact__B01_>GROVE C/O MVN LOGISTICS</nomact__B01_>
         <payact__B01_>I</payact__B01_>
         <telact__B01_/>
         <tlxact__B01_>.</tlxact__B01_>
         <vilact__B01_>CODEVILLA</vilact__B01_>
         <ad1000__B01_>.</ad1000__B01_>
         <ad2000__B01_/>
         <cpi000__B01_/>
         <cpo000__B01_>00000</cpo000__B01_>
         <cpt000__B01_/>
         <edi000__B01_/>
         <fax000__B01_/>
         <lib000__B01_>Toutes Activités</lib000__B01_>
         <nom000__B01_>.</nom000__B01_>
         <pay000__B01_/>
         <tel000__B01_/>
         <tlx000__B01_/>
         <vil000__B01_>.</vil000__B01_>
         <numvagv__B09_>21133002</numvagv__B09_>
         <libvagv__B09_>Consegna n° 21000861-000</libvagv__B09_>
         <datprpv__B09_>20210513</datprpv__B09_>
         <cirpic__B27_>999</cirpic__B27_>
         <libcir__B27_>Pallet Completi</libcir__B27_>
         <codkaik__B26_>010</codkaik__B26_>
         <libkaik__B26_>BAIA 10</libkaik__B26_>
         <numlivve__B13_>21000861</numlivve__B13_>
         <snulivve__B13_>000</snulivve__B13_>
         <nomclive__B13_>STABILIMENTO CAMERON</nomclive__B13_>
         <ad1clive__B13_>NAVETTA INTERNA</ad1clive__B13_>
         <ad2clive__B13_/>
         <ad3clive__B13_/>
         <cpiclive__B13_/>
         <cpoclive__B13_>00000</cpoclive__B13_>
         <vilclive__B13_>VOGHERA</vilclive__B13_>
         <payclive__B13_>I</payclive__B13_>
         <telclive__B13_/>
         <tlxclive__B13_/>
         <faxclive__B13_/>
         <catclive__B13_>STD</catclive__B13_>
         <codrgtve__B13_/>
         <codsitve__B13_/>
         <codtlive__B13_>STD</codtlive__B13_>
         <datlivve__B13_>20210512</datlivve__B13_>
         <diplivve__B13_/>
         <msgliv1ve__B13_/>
         <msgliv2ve__B13_/>
         <refclive__B13_/>
         <toplivve__B13_/>
         <reflivve__B13_>ASD12051</reflivve__B13_>
         <toulivve__B13_>0000</toulivve__B13_>
         <ordlivve__B13_>0000</ordlivve__B13_>
         <msgprp1ve__B13_/>
         <msgprp2ve__B13_/>
         <cliliv__B02_>CLI1</cliliv__B02_>
         <ad1cliliv__B02_>NAVETTA INTERNA</ad1cliliv__B02_>
         <ad2cliliv__B02_/>
         <ad3cliliv__B02_/>
         <cm1cliliv__B02_/>
         <cm2cliliv__B02_/>
         <cm3cliliv__B02_/>
         <codrgtliv__B02_/>
         <cpicliliv__B02_/>
         <cpocliliv__B02_>00000</cpocliliv__B02_>
         <edicliliv__B02_>CLI1</edicliliv__B02_>
         <emladrliv__B02_/>
         <faxcliliv__B02_/>
         <nomcliliv__B02_>STABILIMENTO CAMERON</nomcliliv__B02_>
         <paycliliv__B02_>I</paycliliv__B02_>
         <telcliliv__B02_/>
         <tlxcliliv__B02_/>
         <vilcliliv__B02_>VOGHERA</vilcliliv__B02_>
         <codcli__B02_>CLI1</codcli__B02_>
         <ad1clicli__B02_>NAVETTA INTERNA</ad1clicli__B02_>
         <ad2clicli__B02_/>
         <ad3clicli__B02_/>
         <cm1clicli__B02_/>
         <cm2clicli__B02_/>
         <cm3clicli__B02_/>
         <codrgtcli__B02_/>
         <cpiclicli__B02_/>
         <cpoclicli__B02_>00000</cpoclicli__B02_>
         <ediclicli__B02_>CLI1</ediclicli__B02_>
         <emladrcli__B02_/>
         <faxclicli__B02_/>
         <nomclicli__B02_>STABILIMENTO CAMERON</nomclicli__B02_>
         <payclicli__B02_>I</payclicli__B02_>
         <telclicli__B02_/>
         <tlxclicli__B02_/>
         <vilclicli__B02_>VOGHERA</vilclicli__B02_>
         <numsupse__B17_>21060811</numsupse__B17_>
         <snusupse__B17_>000</snusupse__B17_>
         <clilivse__B17_>CLI1</clilivse__B17_>
         <codaclse__B17_/>
         <codactse__B17_>001</codactse__B17_>
         <codcmpse__B17_/>
         <codembse__B17_>EPA</codembse__B17_>
         <codpalse__B17_>111111111100000277</codpalse__B17_>
         <cumcolse__B17_>0000000</cumcolse__B17_>
         <cumligse__B17_>0001</cumligse__B17_>
         <cumlogse__B17_>00000017,000</cumlogse__B17_>
         <cumpoise__B17_>00000000,001</cumpoise__B17_>
         <cumprtse__B17_>000000001</cumprtse__B17_>
         <cumuotse__B17_>0000001,00</cumuotse__B17_>
         <cumvolse__B17_>00000096,000</cumvolse__B17_>
         <datlivse__B17_>20210512</datlivse__B17_>
         <nivitrse__B17_>00</nivitrse__B17_>
         <nomclise__B17_>STABILIMENTO CAMERON</nomclise__B17_>
         <numcmpse__B17_>00000000</numcmpse__B17_>
         <snucmpse__B17_>000</snucmpse__B17_>
         <numcntse__B17_/>
         <numlivse__B17_>21000861</numlivse__B17_>
         <snulivse__B17_>000</snulivse__B17_>
         <numplbse__B17_/>
         <numtouse__B17_>00000000</numtouse__B17_>
         <numvagse__B17_>21133002</numvagse__B17_>
         <ordlivse__B17_>0000</ordlivse__B17_>
         <reflivse__B17_>ASD12051</reflivse__B17_>
         <toulivse__B17_>0000</toulivse__B17_>
         <typsupse__B17_>2</typsupse__B17_>
         <zonspfse__B17_/>
         <catemb__B05_>1</catemb__B05_>
         <libemb__B05_>EPAL (80x120)     25kg</libemb__B05_>
         <pdbemb__B05_>025,00</pdbemb__B05_>
         <proemb__B05_>EPA</proemb__B05_>
         <prxemb__B05_>0000,00</prxemb__B05_>
         <numsupsd__B18_>21060811</numsupsd__B18_>
         <snusupsd__B18_>000</snusupsd__B18_>
         <seqsupsd__B18_>0001</seqsupsd__B18_>
         <codprosd__B18_>GCO.002</codprosd__B18_>
         <valprosd__B18_>00</valprosd__B18_>
         <anaprosd__B18_/>
         <codaclsd__B18_/>
         <codalcsd__B18_/>
         <codclssd__B18_/>
         <codeapsd__B18_/>
         <codlotsd__B18_/>
         <codopesd__B18_/>
         <codpalsd__B18_>111111111100000277</codpalsd__B18_>
         <codprnsd__B18_/>
         <datfabsd__B18_>20210322</datfabsd__B18_>
         <datfvisd__B18_>00000000</datfvisd__B18_>
         <datprbsd__B18_>20210513</datprbsd__B18_>
         <degalcsd__B18_>000,00</degalcsd__B18_>
         <diplivsd__B18_/>
         <ds1prosd__B18_>G - CO - 2</ds1prosd__B18_>
         <ds2prosd__B18_/>
         <ediprosd__B18_>GCO.002</ediprosd__B18_>
         <famprosd__B18_/>
         <nlilivsd__B18_>00000</nlilivsd__B18_>
         <numavdsd__B18_>000000000</numavdsd__B18_>
         <numclssd__B18_>0000</numclssd__B18_>
         <numlotsd__B18_>000000000</numlotsd__B18_>
         <numopesd__B18_>000000</numopesd__B18_>
         <numorisd__B18_>21000861</numorisd__B18_>
         <pcbprosd__B18_>99999</pcbprosd__B18_>
         <pdbcolsd__B18_>0010,000</pdbcolsd__B18_>
         <pdbuvcsd__B18_>0000,200</pdbuvcsd__B18_>
         <pdnlivsd__B18_>00000000,001</pdnlivsd__B18_>
         <pdnuvcsd__B18_>0000,000</pdnuvcsd__B18_>
         <prilivsd__B18_>000000,000</prilivsd__B18_>
         <prppicsd__B18_>1</prppicsd__B18_>
         <reflivsd__B18_>ASD12051</reflivsd__B18_>
         <seqlivsd__B18_>0001</seqlivsd__B18_>
         <snulivsd__B18_>000</snulivsd__B18_>
         <snuorisd__B18_>000</snuorisd__B18_>
         <spcprosd__B18_>0000</spcprosd__B18_>
         <toplivsd__B18_/>
         <typopesd__B18_>0</typopesd__B18_>
         <uvccdesd__B18_>000000017</uvccdesd__B18_>
         <uvclivsd__B18_>000000017</uvclivsd__B18_>
         <uvcmnqsd__B18_>000000000</uvcmnqsd__B18_>
         <uvcsrvsd__B18_>000000017</uvcsrvsd__B18_>
         <volalcsd__B18_>000,000</volalcsd__B18_>
         <volcolsd__B18_>0001,000</volcolsd__B18_>
         <zonpicsd__B18_>F</zonpicsd__B18_>
         <allpicsd__B18_>001</allpicsd__B18_>
         <dplpicsd__B18_>0002</dplpicsd__B18_>
         <nivpicsd__B18_>20</nivpicsd__B18_>
         <msgligsd__B18_/>
         <livnumsd__B18_>21000861</livnumsd__B18_>
         <livsnusd__B18_>000</livsnusd__B18_>
         <clilivsd__B18_>CLI1</clilivsd__B18_>
         <kailivsd__B18_>010</kailivsd__B18_>
         <libkaisd__B18_>BAIA 10</libkaisd__B18_>
         <nomclisd__B18_>STABILIMENTO CAMERON</nomclisd__B18_>
         <cpiclisd__B18_/>
         <vilclisd__B18_>VOGHERA</vilclisd__B18_>
         <toulivsd__B18_>0000</toulivsd__B18_>
         <ordlivsd__B18_>0000</ordlivsd__B18_>
         <datlivsd__B18_>20210512</datlivsd__B18_>
         <colcousd__B18_>0001</colcousd__B18_>
         <coupalsd__B18_>0001</coupalsd__B18_>
         <desfou__B03_/>
         <foupro__B03_/>
         <prxpro1__B03_>000000,000</prxpro1__B03_>
         <prxpro2__B03_>000000,000</prxpro2__B03_>
         <prxpro3__B03_>000000,000</prxpro3__B03_>
         <prxpro4__B03_>000000,000</prxpro4__B03_>
         <codtmd__B03_/>
         <codmtr__B03_/>
         <haucol__B03_>010,00</haucol__B03_>
         <hauuvc__B03_>010,00</hauuvc__B03_>
         <lngcol__B03_>010,00</lngcol__B03_>
         <lnguvc__B03_>010,00</lnguvc__B03_>
         <lrgcol__B03_>010,00</lrgcol__B03_>
         <lrguvc__B03_>010,00</lrguvc__B03_>
         <colcou1__B03_>0001</colcou1__B03_>
         <colcou2__B03_>0001</colcou2__B03_>
         <coupal1__B03_>0001</coupal1__B03_>
         <coupal2__B03_>0001</coupal2__B03_>
      </BPHOM_STD>
   </DATA>
   <name>BPHOM_STD</name>
   <time>09-57-06</time>
</context>
